
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgcolor: red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    /* border: 2px solid black; */
}

#navbar > a {
    margin-left: 25vw;
    /* border: 2px solid red; */
}

#nav-links {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    /* border: 4px solid green; */
}

#nav-links a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(90, 90, 90);
    font-size: 1.2em;
    /* border: 2px solid green; */
}

/* MEDIA QUERIES */
/* FOR SMARTPHONES */
@media(max-width:500px) {
    #navbar {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    #nav-links {
        width: fit-content;
    }

    #navbar > a {
        margin-left: 0;
    }
}