
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightblue: rgb(54, 88, 225);
    --lighterblue: rgb(99, 123, 215);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    /* border: 2px solid black; */
}

#navbar > a {
    margin-left: 25vw;
    width: 250px;
    /* border: 2px solid red; */
}

#navbar img {
    max-width: 100%;
}

#nav-links {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 10px;
    /* border: 4px solid green; */
}

#nav-links a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(90, 90, 90);
    font-size: 1.2rem;
    /* border: 2px solid green; */
}

/* INPUT */
#input-container {
    display: grid;
    gap: 15px;
    grid-template-areas: 
    'text submit'
    'list list';
    grid-template-columns: auto 120px;
    grid-template-rows: 50px;
    margin: 50px auto;
    width: 70%;
    /* border: 2px solid red; */
}

/* SEARCH INPUT FIELD */
.search-div {
    grid-area: 'text';
    position: relative;
    height: 48px;
}

.search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.search-label{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: gray;
    font-size: 1rem;
    transition: .3s;
}

.search-input:focus + .search-label {
    top: -.5rem;
    left: .8rem;
    color: blue;
    font-size: 0.75rem;
    font-weight: 500;
    z-index: 10;
}

.search-input:not(:placeholder-shown).search-input:not(:focus)+ .search-label{
    top: -.5rem;
    left: .8rem;
    font-size: 0.75rem;
    font-weight: 500;
    z-index: 10;
}

.search-input:focus{
    border: 1.5px solid blue;
}

/* SEARCH BUTTON */
#search-button {
    grid-area: 'submit';
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    color: #fff;
    background-color: blue;
    letter-spacing: 1px;
    font-size: 1.2rem;
    outline: 0;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#search-button:hover {
    background-color: rgb(76, 76, 242);
}

span.ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
}

/* COMPANY SEARCH RESULTS LIST */
#input-container ul {
    grid-area: 'list';
    grid-column: 1 /  span 2;
    list-style: none;
    /* border: 4px solid black; */
}

#input-container ul li {
    /* font-size: 1.5rem; */
    text-decoration: none;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 15px;
    color: rgb(245,245,245);
    background-color: rgb(5, 175, 5);
    height: fit-content;
    transition-property: all;
    transition-duration: 0.5s;
    border-radius: 15px;
    /* border: 2px solid black; */
}

#input-container ul li:hover {
    background-color: rgb(5, 190, 5);
}

#input-container ul li p:nth-child(1) {
    font-size: 1.8rem;
    /* border: 4px solid gray; */
}

#input-container ul li p:nth-child(2) {
    text-align: right;
    font-size: 1.4rem;
    /* border: 4px solid gray; */
}

#input-container ul li p:nth-child(3) {
    font-size: 1.2rem;
    /* border: 4px solid gray; */
}

/* COMPANY */
#company-container {
    width: 70%;
    display: none;
    gap: 5px;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
    border: 2px solid red;
}

/* COMPANY STOCK PRICE */
#stock-price {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 2px solid green; */
}

#current {
    font-size: 2rem;
}

#change {
    font-size: 1.2rem;
}

#stock-price p {
    font-size: 1.1rem;
}

#stock-price p:nth-child(1) {
    text-align: left;
    /* border: 2px solid gray; */
}

#stock-price p:nth-child(2) {
    text-align: center;
    /* border: 2px solid gray; */
}

#stock-price p:nth-child(3) {
    text-align: right;
    /* border: 2px solid gray; */
}

/* STOCK PRICE CHART */
#canvas-container {
    height: 300px;
    /* border:4px solid green; */
}

canvas {
    max-height: 100%;
    width: 100%;
    /* border: 4px solid red; */
}

/* MEDIA QUERIES */
/* FOR SMARTPHONES */
@media(max-width:500px) {
    #navbar {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    #nav-links {
        padding-right: 0;
        width: fit-content;
    }

    #navbar > a {
        width: 180px;
        margin-left: 0;
    }

    #input-container {
        grid-template-areas: 
        'text'
        'submit'
        'list';
        grid-template-columns: 1fr;
        gap: 25px;
        margin: 15px auto;
        grid-template-rows: 40px 40px;
        width: 80%;
    }

    #input-container ul {
        grid-column: 1 /  span 1;
    }

    #input-container ul li {
        grid-template-columns: 1fr;
    }

    #input-container ul li p:nth-child(2) {
        text-align: left;
    }

    #company-container {
        width: 80%;
    }
    
    #stock-price {
        grid-template-columns: 1fr;
    }

    #stock-price p:nth-child(1) {
        text-align: left;
    }
    
    #stock-price p:nth-child(2) {
        text-align: left;
    }
    
    #stock-price p:nth-child(3) {
        text-align: left;
    }

    #canvas-container {
        height: 200px;
    }
}